
# .github/workflows/deploy.yml
name: deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build Docker image
        run: |
          docker --version
          docker build -t simple-weather:latest .

  deploy:
    runs-on: ubuntu-latest
    needs: docker-build
    steps:
      - name: Simulate deployment
        run: echo "Simulated deployment complete"


